.navbar ul{
    list-style-type: none;
    background-color: aliceblue;
    padding: 0px;
    margin-left: 30%;
    margin-right: 30%;
    overflow: hidden;

    
    

}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: grey;
}
.navbar li{
    
   float: left;
}
.container1{
    display: flex;
    justify-content: space-evenly;
    background-color: burlywood;
    margin: 80px;
    border-radius: 10px;
}
.img1{
    margin-top: 7%;
    border-radius:10%;
}
.img2{
    margin-top: 15px;
    margin-bottom: 10px;
}